composer.*
/tailscale-cs
/work_area*
/Python*
/Modgest
/thanos
/vendor
/bkdir
*.output
*.exe
*.msi
*.pyc
*.msp
*.msx
**/playit.status
**/playit.tunnels
playit.status
playit.tunnels
addons

# GitHub OAuth token
msx_session.bin
